body {
  font-family: sans-serif;
  height: 100vh;
  filter: invert(1);
  background: #222;
}

#countdown {
  font-size: 3rem;
  margin: 1rem;
}

.f {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

input[type="range"] {
  width: 100%;
  border-radius: 1px;
}

button {
  padding: 1rem;
  margin: 1rem;
  font-size: 1rem;
}

#add,
#stop {
  cursor: pointer;
  border-radius: 2px;
  color: white;
}

#add {
  background-color: #f22;
}

#stop {
  background-color: #2f2;
}